<%- include("partials/header.ejs") %>


<h1>Landing Page:YelpCamp</h1>


<p>Welcome to YelCamp Community landing page!!!!!</p>

<a href="/campgrounds">Goto Campgrounds page</a>



<%- include("partials/footer.ejs") %>  